extends ../base

block vars
    - var title = 'Business Accounts'

block head
    link(rel='stylesheet', href='/css/baccounts.css')

append header
    mixin header('baccounts')

block body
    .container(ng-controller="BAcctCtrl as bacct")
        .row
            .col-sm-4
                a.btn.btn-primary.btn-lg(href="javascript:void(0)", ng-click="bacct.showCreateForm()", data-toggle="modal", data-target="#business-account-registration") + Add Business Account

        if accounts
            br
            .row
                .col-sm-12
                    table.table.table-striped.table-hover
                        thead
                            tr
                                th Name
                                th City
                                th State
                                th Country
                                th &nbsp;
                                th &nbsp;
                        tbody
                            each val in accounts
                                tr
                                    td #{val.bname}
                                    td #{val.baddress_city}
                                    td #{val.baddress_state}
                                    td #{val.baddress_country}
                                    td
                                        a.btn.btn-warning.btn-sm(href="javascript:void(0)", ng-click="bacct.editBA('#{val._id}')") Modify
                                    td
                                        a.btn.btn-danger.btn-sm(href="javascript:void(0)", ng-click="bacct.deleteBA('#{val._id}')") Delete
        else
            br
            br
            .row
                .col-sm-12
                    p.lead No data available to show. Click on the button above to create a new business account


block footer

append scripts
    script(src="/js/baccounts.js")